// Styling for the masthead
header.masthead {
  padding-top: 50px;

  text-align: center;

  color: white;
  img {
    display: block;

    margin: 0 auto 20px;
  }
  .intro-text {
    .name {
      font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
      font-size: 2em;
      font-weight: 700;
      display: block;
    }
    .skills {
      font-size: 1.25em;
      font-weight: 300;
      text-align: left;
      float: left;
      display: inline-block;
    }
    .settings {
        font-size: 1em;
    }
  }
}
