
body {
    background-image: url("/img/stardust.png") !important;
    background: url("/img/stardust.png") !important;
    background-color: white;
}

.btn-outline {
    white-space: inherit !important;
    transition: all .1s ease-in-out;
    max-height: 150px;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}

@mixin btn-color($color){
    @extend .btn-outline;
    color: $color;
    border-color: $color;
    &:hover, :visited, :active, :focus {
        color: lighten($color, 10%);
        border-color: lighten($color, 10%);
        background: inherit;
    }
}

.btn-lightblue {
    @include btn-color($lightblue);
}

.btn-pink{
    @include btn-color($pink);
}

.btn-purple{
    @include btn-color($purple);
}


div.portfolio-item {

    div.row {
        padding-top: 50px;
    }

    div.caption {
        font-size: 30px;
        font-weight: 300;
        margin-top: 10px;
    }

}



.lightblue {
    color: $lightblue !important;
}

.purple {
    color: $purple !important;

}

.pink {
    color: $pink !important;

}

hr.speedy:after {
    -webkit-animation-duration: 0.3s !important;
    -moz-animation-duration: 0.3s !important;
    -ms-animation-duration: 0.3s !important;
    -o-animation-duration: 0.3s !important;
    animation-duration: 0.3s !important;
}

.spooked {
    color: #f9ff96 !important;
}



hr.star-light:after, hr.star-primary:after {
  -webkit-animation: rotating 30s linear infinite;
  -moz-animation: rotating 30s linear infinite;
  -ms-animation: rotating 30s linear infinite;
  -o-animation: rotating 30s linear infinite;
  animation: rotating 30s linear infinite;

  border-radius: 50%;

}

hr.star-pink, hr.star-pink:after {
    color: $star-pink;
    background-color: $background-grey;
    border-color: $star-pink;
}


hr.star-blue, hr.star-blue:after {
    color: $star-blue;
    border-color: $star-blue;
    background-color: $background-grey;
}

hr.star-purple, hr.star-purple:after {
    color: $star-purple;
    border-color: $star-purple;
    background-color: $background-grey;
}


@-webkit-keyframes rotating {
  from {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.rotating {
  -webkit-animation: rotating 5s linear infinite;
  -moz-animation: rotating 5s linear infinite;
  -ms-animation: rotating 5s linear infinite;
  -o-animation: rotating 5s linear infinite;
  animation: rotating 5s linear infinite;
}
