// Variables

// Gray and Brand Colors for use across theme

$lightblue: #a3e6f5;
$lightblue-dark: darken($lightblue, 50%);
$purple: #c6a5ff;
$pink: #ff9cf1;

// Foreground colour
$theme-primary: #e54ed0;
// Background colour
$theme-success: $purple;

$star-purple: #9f88d8;
$star-green: #009085;
$star-pink: #e54ed0;
$star-lightblue: #83dbef;
$star-yellow: #83dbef;


$background-grey: #444349;

$pink-lighter: lighten($theme-success, 50%);

$gray-base: #000;
$gray-darker: lighten($gray-base, 13.5%);
$gray-dark: lighten($gray-base, 20%);
$gray: lighten($gray-base, 33.5%);
$gray-light: lighten($gray-base, 46.7%);
$gray-lighter: lighten($gray-base, 93.5%);

