
    <header class="masthead">
      <div class="container">
        <div class="intro-text">
            <p id="intro" class="skills scrollspy">"work" by <a href="https://motherboard.vice.com/en_us/article/tinder-social-lets-you-stalk-your-friends-dating-habits-hack-last-active">the hacker known as "Alex"</a> / <a href="https://twitter.com/mangopdf">@mangopdf</a></p>
          <div class="settings">
              <form action="#">
                  <label for="hardmode">
                  <input id="hardmode" type="checkbox"/>
                      Hard mode</label>
              </form>
          </div>
      </div>

      </div>
    </header>

