{{ define "main" }}
<article class="post container" itemscope itemtype="http://schema.org/BlogPosting">

    <header class="post-header">
        <h1 class="post-title" itemprop="name headline">{{ .Title }}</h1>
        <hr class="star-primary star-{{ .Params.colour }} star-post">
        {{ with .Params.standfirst }}
        <p class="standfirst">
            {{ . }}
        </p>
        {{ end }}
        <p class="post-meta">
        <time datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}" itemprop="datePublished">
            {{ .Date.Format "Jan 2, 2006" }}
        </time>
        {{ with .Params.author }}
            • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ . }}</span></span>
        {{ end }}
        </p>
    </header>

    <div class="post-content{{ with .Params.text_colour }} text-{{ . }}{{ end }}" itemprop="articleBody">
        <hr/>
        {{ .Content }}
    </div>


<script type="application/ld+json">
  {{ $author := .Params.author | default "mangopdf" }}
  {{ $desc := .Params.standfirst | default .Summary }}
  {{ $image := partial "social-image.html" . }}
  {{ $jsonld := dict
    "@context" "https://schema.org"
    "@type" "BlogPosting"
    "headline" .Title
    "description" $desc
    "image" $image
    "datePublished" (.Date.Format "2006-01-02T15:04:05Z07:00")
    "dateModified" (.Lastmod.Format "2006-01-02T15:04:05Z07:00")
    "author" (dict
      "@type" "Person"
      "name" $author
      "url" "https://mango.pdf.zone"
    )
    "url" .Permalink
  }}
  {{ $jsonld | jsonify | safeJS }}
</script>

</article>

{{ if eq .Type "post" }}
<section class="portfolio success">
    <div class="container">
        {{ $all := where site.RegularPages "Type" "post" }}
        {{ $related := slice }}
        {{ $exclude := slice .Permalink }}
        {{ $tony := index (where $all "RelPermalink" "/finding-former-australian-prime-minister-tony-abbotts-passport-number-on-instagram/") 0 }}
        {{ if and $tony (ne $tony.Permalink .Permalink) }}
          {{ $related = $related | append $tony }}
          {{ $exclude = $exclude | append $tony.Permalink }}
        {{ end }}
        {{ with .NextInSection }}{{ if not (in $exclude .Permalink) }}{{ $related = $related | append . }}{{ end }}{{ end }}
        {{ with .PrevInSection }}{{ if not (in $exclude .Permalink) }}{{ $related = $related | append . }}{{ end }}{{ end }}
        {{ range $related }}{{ $exclude = $exclude | append .Permalink }}{{ end }}
        {{ $pool := where $all "Permalink" "not in" $exclude }}
        {{ with index (shuffle $pool) 0 }}{{ $related = $related | append . }}{{ end }}
        {{ if gt (len $related) 0 }}
        <hr class="star-primary star-pink">
        <div class="grid">
            {{ range $related }}
            <div class="portfolio-item">
                <a href="{{ .RelPermalink }}" class="post-card post-card-{{ .Params.colour }}">
                    <div class="post-image-container">
                        {{ partial "responsive-image.html" (dict "src" .Params.image "alt" "" "class" "post-image" "sizes" "(max-width: 480px) 100vw, (max-width: 1050px) 50vw, 33vw" "no_dims" true) }}
                    </div>
                    <span class="post-card-body">
                        <span class="post-card-title">{{ .Title }}</span>
                        <span class="post-card-date" title="{{ .Date.Format "2006" }}">{{ partial "relative-date.html" .Date }}</span>
                    </span>
                </a>
            </div>
            {{ end }}
        </div>
        {{ end }}
    </div>
</section>
{{ end }}
{{ end }}
