{{ define "main" }}
<article class="post container" itemscope itemtype="http://schema.org/BlogPosting">

    <header class="post-header">
        <h1 class="post-title" itemprop="name headline">{{ .Title }}</h1>
        <hr class="star-primary star-{{ .Params.colour }} star-post">
        <p class="post-meta">
            {{ with .Params.standfirst }}
                <p class="standfirst">
                    {{ . }}
                </p>
            {{ end }}
        <time datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}" itemprop="datePublished">
            {{ .Date.Format "Jan 2, 2006" }}
        </time>
        {{ with .Params.author }}
            • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ . }}</span></span>
        {{ end }}
        </p>
    </header>

    <div class="post-content text-{{ .Params.text_colour }}" itemprop="articleBody">
        <hr/>
        {{ .Content }}
    </div>


<script type="application/ld+json">
  {{ $author := .Params.author | default "mangopdf" }}
  {{ $desc := .Params.standfirst | default .Summary }}
  {{ $image := .Params.image | absURL }}
  {{ $jsonld := dict
    "@context" "https://schema.org"
    "@type" "BlogPosting"
    "headline" .Title
    "description" $desc
    "image" $image
    "datePublished" (.Date.Format "2006-01-02T15:04:05Z07:00")
    "dateModified" (.Lastmod.Format "2006-01-02T15:04:05Z07:00")
    "author" (dict
      "@type" "Person"
      "name" $author
      "url" "https://mango.pdf.zone"
    )
    "url" .Permalink
  }}
  {{ $jsonld | jsonify | safeJS }}
</script>

</article>
{{ end }}
