body {
    background-image: url("/img/stardust.png") !important;
    background: url("/img/stardust.png") !important;
}


/* welcome to the grid zone */

div.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    @media (max-width: 480px) {
        grid-template-columns: 1fr;
    }

    grid-column-gap: 50px;
    grid-row-gap: 50px;
}

.btn-outline {
    white-space: inherit !important;
    transition: all .1s ease-in-out;
    //max-height: 150px;
    width: 100%;
    /* normcore */
    line-height: normal;
}

@mixin btn-color($color) {
    @extend .btn-outline;
    color: white;
    border-color: $color;

    &:hover,
    :visited,
    :active,
    :focus {
        color: lighten($color, 10%);
        border-color: lighten($color, 10%);
        background: inherit !important;
    }
}

.btn:focus {
    background: inherit !important;
}

div.settings form {
    float: right;
}

.btn-lightblue {
    @include btn-color($lightblue);
}

.btn-pink {
    @include btn-color($pink);
}

.btn-purple {
    @include btn-color($purple);
}

.btn-white {
    @include btn-color(white);
}


div.portfolio-item {
    font-weight: 300;

    div.row {
        padding-top: 50px;
    }

    .thumbnail {
        margin-top: 10px;

        img {
            width: 100%;
        }
    }

    div.caption {
        font-weight: 300;
        margin-top: 10px;
    }

    a {
        word-break: break-word;
    }

    p {
        font-size: 17px;
    }

}

div.post-item {
    .caption-content p {
        font-weight: 300;
    }
}


.lightblue {
    color: $lightblue !important;
}

.purple {
    color: $purple !important;

}

.pink {
    color: $pink !important;

}

.speedy:after {
    -webkit-animation-duration: 0.3s !important;
    -moz-animation-duration: 0.3s !important;
    -ms-animation-duration: 0.3s !important;
    -o-animation-duration: 0.3s !important;
    animation-duration: 0.3s !important;
}

.spooked {
    color: #f9ff96 !important;
}



.star-light:after,
.star-primary:after {
    -webkit-animation: rotating 20s linear infinite;
    -moz-animation: rotating 20s linear infinite;
    -ms-animation: rotating 20s linear infinite;
    -o-animation: rotating 20s linear infinite;
    animation: rotating 20s linear infinite;

    border-radius: 50%;

}

.star-pink,
.star-pink:after {
    color: $star-pink;
    background-color: $background-grey;
    border-color: $star-pink;
}


.star-lightblue,
.star-lightblue:after {
    color: $star-lightblue;
    border-color: $star-lightblue;
    background-color: $background-grey;
}

.star-purple,
.star-purple:after {
    color: $star-purple;
    border-color: $star-purple;
    background-color: $background-grey;
}


@-webkit-keyframes rotating {
    from {
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes rotating {
    from {
        -ms-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    to {
        -ms-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.rotating {
    -webkit-animation: rotating 3s linear infinite;
    -moz-animation: rotating 3s linear infinite;
    -ms-animation: rotating 3s linear infinite;
    -o-animation: rotating 3s linear infinite;
    animation: rotating 3s linear infinite;
}

.littlefoot {
    --button-active-background-color: #e54ed0;
    --popover-background-color: #444349;
    --popover-font-family: Open Sans,helvetica neue,Helvetica,Arial,sans-serif;
    --popover-text-color: #fff;
    --popover-transform: none;
    --popover-transition: none;
    --popover-transform-origin: none;
    --popover-active-transform: none;
}