<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">


  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{{ page.title | default: "the mango zone" }}</title>


    <link href="{{ "vendor/bootstrap/css/bootstrap.min.css" | relative_url }}" rel="stylesheet">

    <link href="{{ "vendor/font-awesome/css/font-awesome.min.css" | relative_url }}" rel="stylesheet" type="text/css">

    <link href="{{ "css/freelancer.min.css" | relative_url }}" rel="stylesheet">
    <link rel="shortcut icon" type="image/png" href="/favicon.ico"/>

</head>

  <body>

    <header class="masthead">
      <div class="container">
        <div class="intro-text">
            <p id="intro" class="skills scrollspy">"work" by <a href="/">the hacker known as "Alex"</a> / <a href="https://twitter.com/mangopdf">@mangopdf</a></p>
          <div class="settings">
              <form action="#">
                  <label for="hardmode">
                  <input id="hardmode" type="checkbox"/>
                      Hard mode</label>
              </form>
          </div>
      </div>

      </div>
    </header>


    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>


  <!-- NSA tracking-->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-39885839-8', 'auto');
  ga('send', 'pageview');

</script>


    <script src="{{ "vendor/jquery/jquery.min.js" | relative_url }}"></script>
    <script src="{{ "vendor/popper/popper.min.js" | relative_url }}"></script>
    <script src="{{ "vendor/bootstrap/js/bootstrap.min.js" | relative_url }}"></script>

    <script src="{{ "vendor/jquery-easing/jquery.easing.min.js" | relative_url }}"></script>

    <script type="text/javascript" src="{{ "https://unpkg.com/onscreen/dist/on-screen.umd.min.js" | relative_url }}"></script>
    <script src="{{ "js/emojicursor.js" | relative_url }}"></script>
    <script src="{{ "js/freelancer.min.js" | relative_url }}"></script>

  </body>

</html>


